HELP.md
target/

!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


src\main\resources\application.properties
frontend


.vscode/

src/main/resources/application.propertiesCopy

generate_repos.sh

.gitattributes
.vscode


test-frontend/

a1.txt

frontend2
frontend1/active-bookings1.html
frontend1/booking1.html
frontend1/booking11.html
frontend1/dashboard5.html
frontend1/owner-dashboard5.html
src/main/resources/static/active-bookings1.html
src/main/resources/static/booking1.html
src/main/resources/static/booking11.html
src/main/resources/static/dashboard5.html
src/main/resources/static/owner-dashboard5.html

frontend-latest